.App {
  margin-top: 10px;

  .characters-screen {
    h2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .heroes-list {
      .list-text {
        p > svg {
          margin-right: 10px;
        }
      }
    }

    .hero-profile {
      .hero-profile-image {
        width: 100%;
      }

      .hero-profile-link {
        margin-bottom: 15px;
        margin-right: 15px;
      }
    }
  }
}
