@import './assets/styles/index.scss';

body {
  font-family: 'AvenirNextLTPro-Medium';
  color: $opacity-grey;
  margin: 0;
  padding: 0;
  height: 100vh;

  background-image: url('./assets//images/background.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-color: white;
}